<template>
  <div>
    <h2>Find your closest airport and get available fares!</h2>
    <ui-select
      class="selection-button"
      has-search
      :options="airports"
      v-model="selectedAirport"
    >
    </ui-select>
    <ui-button data-event="choose-click-origin" @click="onClick">
      ok
    </ui-button>
  </div>
</template>

<script>
import moment from 'moment';
import gql from 'graphql-tag';
import { getSeasonRange } from '../utilities';
import { UiButton, UiSelect } from 'keen-ui';

const MARKER = '208978';
export const STAY_LENGTH = 7;
const DATE_FORMAT = 'YY-MM-DD';

export default {
  apollo: {
    $client: 'local',
    airports: {
      query: gql`
        query getAirports {
          airports {
            name
            iataCode
          }
        }
      `,
      update: function(data) {
        return data.airports.map(airportData => ({
          label: airportData.name,
          value: airportData.iataCode,
        }));
      },
    },
  },
  name: 'Where',
  components: {
    UiButton,
    UiSelect,
  },
  methods: {
    onClick: function() {
      const departureIataCode = this.selectedAirport.value;
      if (!departureIataCode) {
        return;
      }

      const departDate = this.getDepartureDate(
        this.$root.$data.selectedSeasonIndex,
        moment().format('MM'),
      );
      const SEARCH_URL = `http://jetradar.com/searches/new?origin_iata=${departureIataCode}&destination_iata=${
        this.$root.$data.selectedIataCode
      }&depart_date=${departDate}&return_date=${this.handleDate(
        departDate,
      )}&adults=1&children=0&infants=0&trip_class=0&marker=${MARKER}&with_request=true`;
      this.$root.$data.departureIataCode = departureIataCode;
      window.open(SEARCH_URL, 'userSearch');
    },
    getCurrentMonth: function() {
      return moment.format(moment.month(), 'M');
    },
    getDepartureDate: function(selectedSeasonIndex, currentMonth) {
      const seasonRange = getSeasonRange(selectedSeasonIndex);

      if (seasonRange.includes(currentMonth)) {
        return `${moment().format('YY')}-${currentMonth}-${moment().format(
          'DD',
        )}`;
      }

      const remainingSeasons = seasonRange.filter(month => {
        return month >= currentMonth;
      });

      let travelMonth;
      let travelYear;

      if (remainingSeasons.length === 0) {
        travelMonth = seasonRange[0];
        travelYear = moment()
          .add(1, 'years')
          .format('YY');
      } else {
        travelMonth = remainingSeasons[0];
        travelYear = moment().format('YY');
      }

      return `${travelYear}-${travelMonth}-01`;
    },

    handleDate: function(depart) {
      return moment(depart, DATE_FORMAT)
        .add('days', STAY_LENGTH)
        .format(DATE_FORMAT);
    },
  },
  data: function() {
    return {
      airports: [],
      daysToTravel: 5,
      selectedAirport: { label: 'Select an airport', value: '' },
    };
  },
};
</script>
