<template>
  <div>
    <h1>The best surf destinations, on your schedule.</h1>
    <h2>When do you want to surf?</h2>
    <ui-button
      data-event-group="when-click-season"
      v-for="(season, index) in seasons"
      :key="season"
      v-on:click="onSelect(season, index)"
      v-bind:data-event="'when-click-' + season.toLowerCase()"
    >
      <span class="selection-button">
        {{ season }}
      </span>
    </ui-button>
  </div>
</template>

<script>
import gql from 'graphql-tag';

export default {
  name: 'Greetings',
  apollo: {
    $client: 'local',
    seasons: {
      query: gql`
        query getSeasons {
          seasons
        }
      `,
      update: function(data) {
        return data.seasons;
      },
    },
  },
  data() {
    return {
      seasons: [],
    };
  },
  methods: {
    onSelect: function(season, index) {
      this.$root.$data.selectedSeasonIndex = index;
      this.$router.push({ path: '/suggestions' });
    },
  },
};
</script>
