<template>
  <div id="header">
    <div id="left">
      <a href="https://westaysalty.com/blog" target="_blank" id="blog">updates</a>
    </div>
    <div id="logo">stay salty</div>
    <div id="right"></div>
  </div>
</template>

<style>
#blog {
  align-self: flex-end;
  color: #2c3e50;
  font-size: 22px;
  text-decoration: none;
}

#header {
  align-items: baseline;
  display: flex;
  margin: 20px 60px 50px;
}

#left, #right {
  display: flex;
  flex: 1;
}

#logo {
  font-weight: 900;
  font-size: 72px;
}
</style>
