<template>
  <div>
    <h2>Choose a location for that time of year.</h2>
    <suggestion-button
      v-for="(location, index) in locationResult"
      :locationData="location"
      v-bind:key="index"
    />
  </div>
</template>

<script>
import gql from 'graphql-tag';
import SuggestionButton from './SuggestionButton';
import Vue from 'vue';
Vue.component('suggestion-button', SuggestionButton);

export default {
  apollo: {
    $client: 'local',
    locationResult: {
      query: gql`
        query getLocationForSeason($seasonId: Int!) {
          locations(seasonId: $seasonId) {
            name
            iataCode
          }
        }
      `,
      update: function(data) {
        return data.locations;
      },
      variables() {
        return {
          seasonId: this.seasonId,
        };
      },
    },
  },
  name: 'Suggestions',
  data() {
    return {
      locationResult: [],
      seasonId: this.$root.$data.selectedSeasonIndex,
    };
  },
};
</script>

<style>
.searchForm {
  display: flex;
  justify-content: center;
}
</style>
