<template>
  <ui-button
    data-event-group="where-click-destination"
    @click="onSelect(locationData.iataCode)"
  >
    <span class="selection-button">
      {{ locationData.name }}
    </span>
  </ui-button>
</template>

<script>
export default {
  props: ['locationData'],
  methods: {
    onSelect: function(iataCode) {
      this.$root.$data.selectedIataCode = iataCode;
      this.$router.push({ path: '/where' });
    }
  },
  data: function() {
    return {
      locationLength: false
    };
  }
};
</script>
