<template>
  <div id="app">
    <header-top />
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue';
import HeaderTop from './components/HeaderTop';
Vue.component('header-top', HeaderTop);

export default {
  name: 'app'
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

.ui-select__content {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.selection-button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin: -20px 0 30px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

<!-- reset for keen UI -- > *,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
</style>
